DATABASE_URL=postgres://mooncello:mooncello@localhost:5433/mooncello

BETTER_AUTH_SECRET=remplace-moi-par-une-chaine-aleatoire-de-32-caracteres
BETTER_AUTH_URL=http://localhost:3333

API_PORT=3333
ADMIN_ORIGIN=http://localhost:5173

MEDIA_STORAGE_DRIVER=local
MEDIA_LOCAL_PATH=./storage/media
MEDIA_MAX_SIZE_BYTES=10485760
